{% extends "base.html" %}

{% block content %}
    <h1>Добавление Книги в компанию</h1>
    <a href="{{ url_for('editor') }}">Назад</a>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.namebook.label }}<br>
            {{ form.namebook(size=1) }}<br>
            {% for error in form.namebook.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.namecompany.label }}<br>
            {{ form.namecompany(size=1) }}<br>
            {% for error in form.namecompany.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}