{% extends "base.html" %}

{% block content %}
    <p><a href="{{ url_for('user',login=current_user.login) }}">Назад</a></p>
    <hr>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.skill.label }}<br>
            {{ form.skill(size=1) }}<br>
            {% for error in form.skill.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}