{% extends "base.html" %}
<a href="{{ url_for('admin') }}">Назад</a>
{% block content %}
    <h1>Выдача роли</h1>
     <form action="" method="post">
            {{ form.hidden_tag() }}
            
                <p>
                    {{ form.namerole.label }}<br>
                    {{ form.namerole(size=1) }}<br>
                    {% for error in form.namerole.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>  
            <p>
                {{ form.user.label }}<br>
                    {{ form.user(size=1) }}<br>
                    {% for error in form.user.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}